[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount gcrypt: /GD \
--allow-other \   # This is for allowing users other than the user running rclone access to the mount
--dir-cache-time 1000h \    # Google Drive is a polling remote so this value can be set very high and any changes are detected via polling.
--log-level INFO \    # The log level output 
--log-file /opt/rclone/logs/rclone.log \    # Location of the log file
--poll-interval 15s \     # I reduce the poll interval down to 15 seconds as this makes changes appear fast the API quotas per day are huge
--umask 002 \     # This is setting the file permission on the mount to user and group have the same access and other can read
--user-agent randomappname101 \   # Please set this to your own value below
--rc \    # This sets up the remote control daemon so you can issue rc commands locally
--rc-addr :5572 \     # This is the default port it runs on
--rc-no-auth \    # no-auth is used as no one else uses my server and it is not a shared seedbox
--cache-dir=/cache \    # The local disk used for caching
--vfs-cache-mode full \     # This is used for caching files to local disk for streaming
--vfs-cache-max-size 500G \     # This limits the cache size to the value below
--vfs-cache-max-age 336h \    # This limits the age in the cache if the size is reached and it removes the oldest files first
--bwlimit-file 16M    # This sets a per file bandwidth control and I limit this to a little bigger than my largest bitrate I'd want to play
ExecStop=/bin/fusermount -uz /GD
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --rc-addr 127.0.0.1:5572 _async=true
Restart=on-failure
User=felix
Group=felix

[Install]
WantedBy=multi-user.target
